   
    /*--------------- font shadow --------------*/
    .display-1{
      text-shadow: 3px 4px 10px #13A89A;
    }
    .display-7{
      text-shadow: 2px 2px 8px #9B87F5;
    }
    /* ------------ shadow effect --------------*/
    .shadow-info{
      border: 1px solid #2ec5bb;
      box-shadow: #2ec5bb -5px 5px 11px;
    }
    .shadow-info:hover{
      box-shadow:none;
      border: none;
    }
    .shadow-blue{
        box-shadow: #9B87F5 -5px 5px 11px;
        border: 1px solid #9B87F5;
    }
    .shadow-blue:hover{
       background-color:#091527;
       border: none;
       box-shadow: none;
    }
    .shadow-purple{
      text-shadow: 2px 2px 5px #9B87F5;
    }
    /*----------- background colors ----------*/
      .bg-blue{
        background: #091527;
        background: linear-gradient(90deg, rgba(9, 21, 39, 1) 0%, rgba(8, 14, 33, 1) 53%, rgba(8, 14, 33, 1) 100%);
    }
    .bg-lightblue{
        background-color: #2ec5bb;
    }
    .bg-font{
        background-color: #8fecff56
    }
    .bg-darkblue{
        background-color: #171529;
    }
    .bg-lightpurple{
        background-color: #9B87F5;
    }
    .bg-blue{
      background-color: #080E21;
    }
    /*--------- text color ----------*/
    .text-purple{
      color:#9B87F5; 
    }
    .text-purple-1{
      color:#c479dbcc;
    }
    .text-purple:hover{
      color:white; 
    }
    .text-gray{
        color: #94A3B8;
    }
    .text-lightblue{
        color: #2ec5bb;
    }
    .text-darkblue{
       color: #6998DD
    }
    .text-lightwhite{
      color: #f3f5f8e8;
    }
    .text-blue{
      color: #8FA1A1;
      font-size: 18px;
    }
    .auto-type{
    color: #9B87F5;;
    text-transform: capitalize;
}
.box{
  backdrop-filter: blur(1.5rem);
  background-color: #f8fffe2d;
  border: 1px solid #666666;
}
.box:hover{
  transform: scale(1.1);
  transition: all 0.5s;
 box-shadow: 0 0.6rem 1.2rem #9B87F5;
}
.shadow{
  box-shadow: (0, 0, 0, 0.24) 0px 3px 8px !important
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
  cursor: none;
}

ul {
  list-style: none;
}

.c-cursor {
  display: none;
}

@media (any-pointer: fine) {
  .c-cursor {
    display: block;
  }

  .c-cursor__inner {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
  }

  .c-cursor__side {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #fff;
    opacity: 0;
  }

  .c-cursor__side--left {
    right: calc(100% + 5px);
  }

  .c-cursor__side--right {
    left: calc(100% + 5px);
  }

  .c-cursor__inner--circle {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
  }
}

canvas {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 0;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



