*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: auto;
    border: 1px solid red;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.j-c-s-b{
    justify-content: space-between;
}
.box{
    background-color: #081023;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo img{
    width: 100%;
}
.navbar{
   color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: auto;
}

.nav-items{
    color: white;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.menu{
    display: none;
}


